// Colors
$blue-900: hsl(233, 54%, 16%);
$blue-600: hsl(234, 25%, 52%);
$pink-600: hsl(341, 92%, 62%);
$pink-300: hsl(341, 100%, 83%);
$grey: hsl(232, 10%, 56%);
$white: hsl(0, 0%, 100%);

// Gradients
$gradient-pink: linear-gradient(0, hsl(322, 87%, 55%) 0%, hsl(13, 100%, 64%) 100%);
$gradient-purple: linear-gradient(180deg, hsl(237, 100%, 64%) 0%, hsl(322, 87%, 55%) 100%);

// Typography
$font-primary: "Plus Jakarta Sans", sans-serif;

$line-height-tight: 120%;
$line-height-normal: 150%;

$font-size-xs: 1rem;    // 16px
$font-size-sm: 1.125rem; // 18px
$font-size-base: 1.5rem; // 24px
$font-size-lg: 2rem;    // 32px
$font-size-xl: 2.5rem;  // 40px
$font-size-2xl: 3.5rem; // 56px

$font-medium: 500;
$font-bold: 700;
$font-extra-bold: 800;

$letter-spacing-none: 0;

// Spacing
$spacing-2: 0.5rem;   // 8px
$spacing-3: 0.75rem;  // 12px
$spacing-4: 1rem;     // 16px
$spacing-5: 1.25rem;  // 20px
$spacing-6: 1.5rem;   // 24px
$spacing-8: 2rem;     // 32px
$spacing-10: 2.5rem;  // 40px
$spacing-11: 2.75rem; // 44px
$spacing-12: 3rem;    // 48px
$spacing-14: 3.5rem;  // 56px
$spacing-16: 4rem;    // 64px
$spacing-20: 5rem;    // 80px
$spacing-32: 8rem;    // 128px
$spacing-36: 9rem;    // 144px
