@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.content {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    margin: 0 auto;
    padding: $spacing-16 $spacing-5 $spacing-20;
    width: 23.4375rem; // 375px

    &__box {
        padding: $spacing-8;
        height: 7.625rem; // 122px
        width: 20.9375rem; // 335px
        background: $gradient-pink;
        border-radius: 0.9375rem; // 15px

        &--title {
            @include text($font-size-base, $font-extra-bold, $line-height-tight, $white);
        }
    }
}

@media(min-width: $breakpoint-tablet) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: $spacing-8 $spacing-6;
        padding: $spacing-16 0 $spacing-36;
        width: 42.5rem; // 680px
    
        &__box {
            margin-top: $spacing-7;
            padding: $spacing-16 $spacing-8;
            height: 20.125rem; // 322px
            width: 20.5rem; // 328px
        }
    }
    
}