@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header{
    margin: 0 auto;
    padding: $spacing-16 $spacing-5;
    width: 23.4375rem; // 375px

    &__title {
        @include text($font-size-xl, $font-extra-bold, $line-height-tight, $blue-900);
    }

    &__text {
        @include text($font-size-sm, $font-medium, $line-height-normal, $grey);
        width: 20.375rem; // 326px
        margin: $spacing-6 0 $spacing-10;
    }

    &__btn {
        position: relative;
        padding: $spacing-4 $spacing-8;
        background: $gradient-pink;
        border-radius: 1.75rem; // 28px
        cursor: pointer;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(255, 255, 255, 0);
            transition: background 0.3s ease;
            z-index: 1;
        }

        &:hover::before {
            background: rgba(255, 255, 255, 0.5);
        }

        &--text {
            @include text($font-size-sm, $font-bold, $line-height-normal, $white);
            position: relative;
            z-index: 2;
        }
    }

    &__image {
        display: inline-block;
        margin: $spacing-12 0 $spacing-16;
    }
}