@use "../utils/variables" as *;

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: $spacing-4 $spacing-5;
    width: 23.4375rem; // 375px

    &__logo {
        height: 1.25rem; // 20px
        width: 4.9375rem; // 79px
    }

    &__btn {
        padding: $spacing-4 $spacing-8;
        background: $blue-900;
        color: $white;
        line-height: $line-height-normal;
        font-size: $font-size-sm;
        font-weight: $font-bold;
        border-radius: 1.75rem; // 28px
        cursor: pointer;
        transition: background .5s ease-in-out;

        &:hover {
            background: $blue-600;
        }
    }
}