@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: $spacing-4 $spacing-5;
    width: 23.4375rem; // 375px

    &__logo {
        height: 1.25rem; // 20px
        width: 4.9375rem; // 79px
    }

    &__btn {
        @include text($font-size-sm, $font-bold, $line-height-normal, $white);
        padding: 0 $spacing-8;
        height: 59px;
        width: 168px;
        background: $blue-900;
        border-radius: 1.75rem; // 28px
        cursor: pointer;
        transition: background .5s ease-in-out;

        &:hover {
            background: $blue-600;
        }
    }
}

@media(min-width: $breakpoint-tablet) {
    .nav{
        padding: $spacing-6 $spacing-11;
        width: 768px;

        &__btn {
            padding: 0 $spacing-6;
            height: 48px;
            width: 152px;
        }
    }
}